////////////////////////
//      REM CALC      //
////////////////////////
@function strip-unit($num) {
	@return $num / ($num * 0 + 1);
}

@function convert-to-rem($value, $base-value: $rem-base)  {
	$value: strip-unit($value) / strip-unit($base-value) * 1rem;
	@if ($value == 0rem) { $value: 0; } // Turn 0rem into 0
	@return $value;
}

@function rem($values, $base-value: $rem-base) {
  $max: length($values);

  @if $max == 1 { @return convert-to-rem(nth($values, 1), $base-value); }

  $remValues: ();

  @for $i from 1 through $max {
    $remValues: append($remValues, convert-to-rem(nth($values, $i), $base-value));
  }

  @return $remValues;
}

////////////////////////
//      Flexbox       //
////////////////////////
@mixin flexContainer($centerContent:false, $wrapContent:true, $inlineFlex:false, $direction: 'row') {
  display   : flex;
  flex-wrap : nowrap;

  @if $inlineFlex == true {
    display : inline-flex;
  }

  @if $wrapContent == true {
    flex-wrap : wrap;
  }

  @if $direction == 'column' {
    flex-direction: column;
  }

  @if $centerContent == true {
    justify-content : center;
    align-items     : center;
    align-content   : center;
  }
}

@mixin flexItem($flexGrow:1, $flexShrink:0, $flexBasis:auto, $flexSelf:auto) {
flex       : $flexGrow $flexShrink $flexBasis;
align-self : $flexSelf;
}
